header {
  background-color: #0F7F64;
  text-align: center;
  color: white;
}
header h1 {
  font-family: Cabin, sans-serif;
  padding-top: 10px;
  margin: 0px;
}
header h2 {
  font-family: 'Indie Flower', cursive;
  padding-bottom: 10px;
  margin: 0px;
}
header a {
  text-decoration: none;
  color: white;
}
nav {
  background-color: #1EFFC7;
  padding-top: 1px;
  padding-bottom: 1px;
}
#menu {
  padding: 0;
  text-align: center;
}
#menu li {
  display: inline;
}
#menu li a {
  background-color: #1EFFC7;
  color: navy;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}
#menu li a:hover {
    background-color: #FF541E;
}
section {
  background-color: #8CFFDA;
  padding-top: 10px;
  padding-bottom: 10px;
  /*font-family: 'Hind', sans-serif;*/
  font-family: 'Oxygen', sans-serif;
}
section img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
section p {
  text-align: center;
}
footer {
  background-color: #8CFFDA;
  text-align: center;
  padding-bottom: 10px;
}
footer img {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}